

<!DOCTYPE html>

<html lang="es">

    <head>
        <title style="text-align: center;">precio y productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            table{ 
                border-collapse: collapse;
                width: 100%;
                text-align: center;
            }
            body{
                background-color: rgb(43, 141, 136)
            }
        </style>
    </head>

    <body>
        <table>
            <thead borde="0" style="border-collapse: collapse; width: 100%; text-align: center;">
                <tr>
                    <th style="border-right: 2px solid black; padding: 10px;">CANTIDAD</th>
                    <th style="border-right: 2px solid black; padding: 10px;">UNIDAD</th>
                    <th style="border-right: 2px solid black; padding: 10px;">DESCRIPCION</th>
                    <th style="border-right: 2px solid black; padding: 10px;">PRECIO X UNIDAD</th>
                    <th style="border-right: 2px solid black; padding: 10px;">PRECIO TOTAL</th>
                    
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>DOC</td>
                    <td>ARCHIV LANCHO OF PLASTIF VINIFAN NEGRO</td>
                    <td>61</td>
                    <td>61</td>
                </tr>
                <tr>
                    <td>1</td>	
                    <td>DOC</td>	
                    <td>CORRECTORVINIFANFLEX9ml</td>	
                    <td>14.8</td>	
                    <td>14.79</td>
                </tr>
                
                <tr>
                    <td>0.5</td>	
                    <td>DOC</td>	
                    <td>FOLDERVINIFANDO/TPGUSANOA4</td>	
                    <td>55</td>	
                    <td>27.5</td>
                </tr>
                <tr>
                    <td>1</td>	
                    <td>DOC</td>	
                    <td>FOLDERVINIFANDO/TPGUSANOOFICIO</td>	
                    <td>55</td>	
                    <td>55</td>
                </tr>
                <tr>
                    <td>1</td>	
                    <td>DOC</td>	
                    <td>FOLDERVINIFANFANTASIAOFICIO</td> 
                    <td>43.4</td>	
                    <td>43.4</td>
                </tr>
                <tr>
                    <td>1</td>	<td>DOC</td>	<td>FORROVINI-FORROA4</td>	<td>40.8</td>	<td>40.8</td></tr >
                <tr>
                    <td>1</td>	<td>DOC</td>	<td>FORROVINI-FORROOFICIO</td>	<td>64.6</td>	<td>64.6</td> </tr>
                <tr>
                    <td>1</td>	<td>DOC</td>	<td>FORROVINIFANA4</td>	<td>56.6</td>	<td>56.6</td></tr>
                <tr>
                    <td>0.5</td>	<td>DOC</td>	<td>FORROVINIFANECOx10(CELESTE)</td>	<td>81.6</td>	<td>40.8</td></tr>
                <tr>
                    <td>0.25</td>	<td>CTD</td>	<td>FORROVINIFANOFICIO</td>	<td>905</td>	<td>226.25</td></tr>
                <tr>
                    <td>0.25</td>	<td>DOC</td>	<td>PLUMONINDELVINIFANBESTCOL420×6BASIC</td>	<td>80.4</td>	<td>20.09</td></tr>
                <tr>
                    <td>0.25</td>	<td>DOC</td>	<td>PLUMONINDELVINIFANBESTCOL420×6GLITTER</td>	<td>137.2</td>	<td>34.3</td></tr>
                <tr>
                    <td>0.25</td>	<td>DOC</td>	<td>PLUMONINDELVINIFANBESTCOL420×6PASTEL</td>	<td>80.4</td>	<td>20.09</td></tr>                    
                <tr>
                     <td>0.25</td>	<td>GRZ</td>	<td>PLUMONPIZARVINIFAN123</td>	<td>170</td>	<td>42.5</td></tr>
                <tr>
                    <td>0.25</td>	<td>GRZ</td>	<td>PLUMONPIZARVIMIFAN123</td>	<td>170</td>	<td>42.5</td></tr>
                <tr>
                    <td>1</td>	<td>CTO</td>	<td>PORTAPAPELPVCA4TOP</td>	<td>42</td>	<td>41.99</td></tr>
                <tr>
                    <td>1</td>	<td>CTO</td>	<td>PORTAPAPELPVCOFICIOVINIFAN</td>	<td>52</td>	<td>52</td></tr>
                <tr>
                    <td>0.5</td>	<td>DOC</td>	<td>RESALTADVINIFAN46PASTELBLx476119</td>	<td>95.5</td>	<td>47.75</td></tr>
                <tr>
                    <td>0.5</td>	<td>DOC</td>	<td>RESALTADVINIFAN46PASTELBLx676120</td>	<td>132.6</td>	<td>66.3</td></tr>
                <tr>
                    <td>1</td>	<td>DOC</td>	<td>TAJAVINIFAN1H+BORRFUNKYCx12</td>	<td>19</td>	<td>18.99</td></tr>
                <tr>
                    <td>1</td>	<td>DOC</td>	<td>TAJAVINIFAN2HTACHITONEON</td>	<td>12.6</td>	<td>12.6</td></tr>
                <tr>
                    <td>1</td>	<td>DOC</td>	<td>TAJAVINIFAN2HTAMBORC×12</td>	<td>14.4</td>	<td>14.39</td></tr>
                <tr>
                    <td>1</td>	<td>DOC</td>	<td>TAJAVINIFAN2HTRIANGULARCx12</td>	<td>16.8</td>	<td>16.8</td></tr>
                <tr>
                    <td>0.5</td>	<td>GRZ</td>	<td>LAPIZ MONGOL 482.2(INDIVID)</td>	<td>82.6</td>	<td>41.3</td></tr>
                <tr>
                    <td>1</td>	<td>DOC</td>	<td>DO/AEXPLORERUNIV150HT/DURASURTIDO</td>	<td>130.8</td>	<td>130.8</td></tr>
                <tr>
                    <td>1</td>	<td>DOC</td>	<td>DO/AIRISCOLORSGNIV170H60grDISEÑOSURTIDO</td>	<td>173.6</td>	<td>173.6</td></tr>
                <tr>
                    <td>0.25</td>	<td>CTO</td>	<td>DO/AIRISCOLORSUNIV170H75grC/LIGASURTIDO</td>	<td>1790</td>	<td>447.5</td></tr4>
                <tr>
                    <td>0.25</td>	<td>CTO</td>	<td>DO/AMARKBOOKA5×160HSURTIDO</td>	<td>515</td>	<td>128.75</td></tr>
                <tr>
                    <td>0.25</td>	<td>CTO</td>	<td>DO/AMARKBOOKUNIV160HHOJACOLORSURTIDO</td>	<td>996</td>	<td>249</td></tr>
                <tr>
                    <td>1</td>	<td>DOC</td>	<td>LIBRETADO/AIRISCT/BLOCK125HC/LIGASURTIDO</td>	<td>68</td>	<td>68</td></tr>
                <tr>
                    <td>1</td>	<td>DOC</td>	<td>LIBRETADOVAIRISCT/CUAD125HC/LIGASURTIDO</td>	<td>68</td>	<td>68</td></tr>
				
                <tr>
                    <td>1</td>	<td>DOC</td>	<td>ALFILERTWING50gr28mmAR-3794</td>	<td>13.6</td>	<td>13.6</td></tr>
                <tr>
                    <td>0.25</td>	<td>CTO</td>	<td>ALFILERTWINS50gr33mmTOLDOAR-3795</td>	<td>130</td>	<td>32.5</td></tr>
                <tr>
                    <td>0.5</td>	<td>DOC</td>	<td>BANDERITASTWRECTANGx5AR-040</td>	<td>14.8</td>	<td>7.4</td></tr>
                <tr>
                    <td>0.5</td>	<td>DOC</td>	<td>BANDERITASTWRECTANGx5AR-705</td>	<td>19</td>	<td>9.5</td></tr>
                <tr>
                    <td>0.25</td>	<td>GRZ</td>	<td>BOLIGRBORRABTWINS0.5mm514/518/519</td>	<td>176</td>	<td>44</td></tr>
                <tr>
                    <td>0.5</td>	<td>DOC</td>	<td>BOLIGRESCARCHAROTWESTx12</td>	<td>55.2</td>	<td>27.6</td></tr>
                <tr>
                    <td>0.25</td>	<td>GRZ</td>	<td>BOLIGRTWINGTRILINE-032SEMIGEL</td>	<td>52.5</td>	<td>13.12</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>CARTUCHOPLUMPIZARTWINSACRI-XTREME</td>	<td>150</td>	<td>37.3</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>CHINCHEDORADOTWINSx50</td>	<td>7</td>	<td>7</td></tr>
                <tr>
                    <td>31</td>	
                    <td>DOC</td>	
                    <td>CORRECTORTWT/CINTA3mAR-0210</td>	
                    <td>23.8</td>	
                    <td>11.9</td>
                </tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>LIENZO30x40cm</td>	<td>61.2</td>	<td>30.6</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>NOTAPIZARRATWAR-3798MAGNETIC</td>	<td>11.4</td>	<td>11.4</td> </tr>
                <tr><td>1</td>	<td>DOC</td>	<td>NOTTWFORMASYCOLORES100H</td>	<td>16.4</td>	<td>16.4</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>PALETAPINTART/RINONBLANCA</td>	<td>14</td>	<td>14</td></tr>
                <tr><td>5</td>	<td>PQT</td>	<td>PAPELA.COLORTWINSPQTx500H</td>	<td>22</td>	<td>110</td></tr>
                <tr><td>3</td>	<td>BLI</td>	<td>PINCELTW0DELINEADOR</td>	<td>3.5</td>	<td>10.5</td></tr>
                <tr> <td>3</td>	<td>BLI</td>	<td>PINCELTW00DELINEADOR</td>	<td>3.5</td>	<td>10.5</td></tr>
                <tr><td>3</td>	<td>BLI</td>	<td>PINCELTW000DELINEADOR</td>	<td>3.5</td>	<td>10.5</td></tr>
                <tr><td>0.25</td>	<td>DOC</td>	<td>PINCELTWLENGGATOx12BISELADAR-0903</td>	<td>100.8</td>	<td>25.2</td></tr>
                <tr><td>0.25</td>	<td>DOC</td>	<td>PINCELTWLENDGATOx12OVALADOAR-0902</td>	<td>100</td>	<td>25.2</td></tr>
                <tr><td>0.25</td>	<td>DOC</td>	<td>PINCELTWLENGGATOx12RECTOAR-0901</td>	<td>100</td>	<td>25.2</td></tr>
                <tr><td>0.25</td>	<td>DOC</td>	<td>PINCELTWLENGGATOx12REDONDOAR-0904</td>	<td>100</td>	<td>25.2</td></tr>
                <tr><td>0.25</td>	<td>DOC</td>	<td>PINCELTWLENGGATOx6OVALADOAR-1287</td>	<td>68</td>	<td>17</td></tr>
                <tr> <td>0.25</td>	<td>DOC</td>	<td>PINCELTWLENGGATOx6RECTOAR-1288</td>	<td>68</td>	<td>17</td></tr>
                <tr> <td>1</td>	<td>DOC</td>	<td>PLUMONINTELTWINSDOBLEPUNTANEGRO</td>	<td>8.6</td>	<td>8.6</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>PLUMONPIZARTWINSJUMBO123(INDIV)AZRJNG</td>	<td>88</td>	<td>22</td></tr>
                <tr><td>0.25</td>	<td>CTO	</td> <td>PLUMONPIZARTWINSTR-123C/CARTUCHOAZRJNG</td>	<td>240</td>	<td>60</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>PLUMONTWINSBLANCOPUNTAGRUESA</td>	<td>24</td>	<td>24</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>PLUMONTWINSSUPERJUMBO47x12AR24-15</td>	<td>126</td>	<td>63</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>RESALTADTWINGNEONx6AR-848</td>	<td>57.6</td>	<td>28.8</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>RESALTADTWINSPASTELx6AR-849</td>	<td>57.6</td>	<td>28.8</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>SOBREC/BROCHEA3TWINSAR-1311</td>	<td>23.8</td>	<td>11.9</td></tr>
                <tr><td>1</td>	<td>DOC</td> <td>SOBREC/BROCHEOFICTWCOLOR/BICOLORSURT</td>	<td>14</td>	<td>14</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>TABLEROFORMICATWINSOFICIOAR-1365</td>	<td>42.6</td>	<td>21.3</td></tr>
				
                <tr><td>1</td>	<td>CTO</td>	<td>BOLIGRFC031-F</td>	<td>43.4</td>	<td>43.4</td></tr>
                <tr><td>0.5</td>	<td>CTO</td>	<td>BOLIGRFC032-MSURTIDO/FUN</td>	<td>38.8</td>	<td>19.4</td></tr>
                <tr><td>0.5</td>	<td>CTO</td>	<td>BOLIGRFCECOTRILUXSEMIGEL</td>	<td>38.8</td>	<td>19.9</td></tr>
                <tr><td>10</td>	<td>CJI</td>	<td>BORRFCBLANCOBRANDECx20189527</td>	<td>10.8</td>	<td>108</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>COLASINTETFC225grC/APLIC225</td>	<td>276.6</td>	<td>69.15</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>COLASINTETFC250grC/APLIC250</td>	<td>334</td>	<td>83.5</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>COLORESFC12L+3LAP116147</td>	<td>714</td>	<td>178.5</td></tr>
                <tr><td>0.25</td>	<td>DOC</td>	<td>COLORESFC24L+4PASTEL28pzMINA4.0116119</td>	<td>191.2</td>	<td>47.8</td></tr>
                <tr><td>1</td>	<td>POTE</td>	<td>CORRECTORFCCINTAMINI6mPx16287303</td>	<td>38.4</td>	<td>38.4</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>CORRECTORFCT/LAPICERO9ml</td>	<td>154</td>	<td>38.5</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>LAPIZFCCHEQUEOROJO3109T</td>	<td>63</td>	<td>15.75</td> </tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>LAPIZFCTITAN2BAMARILLO</td>	<td>45</td>	<td>11.25</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>PLASTILFCJUMBOXLx12CLASIC376422</td>	<td>462</td>	<td>115.5</td> </tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>PLASTILFCJUMBOXLx12PASTEL</td>	<td>47.2</td>	<td>23.6</td> </tr>
                <tr><td>1</td>	<td>DOC</td>	<td>PLUMONFC45x12E/RIGREGALO</td>	<td>101.6</td>	<td>101.6</td> </tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>PLUMONFC45x12FIESTA555314</td>	<td>640.8</td>	<td>160.2</td> </tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>PLUMONFC45x18128BA+4NE+2PA</td>	<td>98</td> <td>49</td> </tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>PLUMOMFC45x6PASTEL</td>	<td>54</td>	<td>27</td></tr>
                <tr><td>1</td>	<td>CTO</td>	<td>PLUMONFC47WINNER(INDIV)WINNER</td>	<td>118</td>	<td>118</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>PLUMONINDELFC23/52WINNERWINNER</td>	<td>18.4</td>	<td>18.4</td></tr>
                <tr><td>0.25</td>	<td>CTO</td>	<td>PLOMONINDELFCDELGADO/27</td>	<td>162</td>	<td>40.5</td></tr>
                <tr><td>1</td>	<td>CTO</td>	<td>PLUMONPIZARFC123WINNER(INDIV)WINNER</td>	<td>126</td>	<td>126</td> </tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>SILICONALIQUIDAFABERC250ml</td> <td>696</td>	<td>174</td></tr>
                <tr><td>1</td>	<td>CJI</td>	<td>TAJAFC1H125RECTANGCx24</td>	<td>18.5</td>	<td>18.5</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>TEMPERAESTx7FABERC30ml</td>	<td>77.2</td>	<td>77.2</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>BOLIGRPILOTBP-SFINE(JAPON)</td>	<td>309</td>	<td>77.25</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td> <td>BOLIGRPILOTBP1-RTRETRACT(INDIVID)</td>	<td>147.4</td>	<td>36.85</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>BOLIGRPILOTBPS-GPGRIP0.7mm</td>	<td>394</td>	<td>98.5</td></tr>
                <tr><td>0.5</td>	<td>CTO</td>	<td>BOLIGRPILOTBPT-PCx50</td>	<td>82</td>	<td>41</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>CINTAEMBALPEGAFANTRANSP77040YD</td>	<td>308</td>	<td>77</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>CINTAEMBALPEGAFANTRANSP77055YD</td>	<td>348</td>	<td>87</td></tr>
                <tr><td>0.25</td>	<td>DOC</td>	<td>CINTAPEGAFANTRANSPPOTEx5016YD</td>	<td>207.6</td>	<td>51.9</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>MASKINGTPEGAFANESCCREMA36mm20YD</td>	<td>321.2</td>	<td>80.3</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>MASKINGTPEGAFANESCCREMA48mm20YD</td>	<td>38.6</td>	<td>38.6</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>BISUTERIAARTISIRENITATACF00018-B</td>	<td>35.6</td>	<td>17.8</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>BOLIGRECONOVOBLIx2TECO-100NG/RJ</td>	<td>35</td>	<td>17.5</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>BOLIGRECONOVOBLIx4TECO-100ANRV</td>	<td>63</td>	<td>31.5</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>COLORESSTABILOHEXA1912DELG×12</td>	<td>86</td>	<td>43</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>CORRECTORECONOVOT/CINTAx8mTECO-400</td>	<td>39.2</td>	<td>19.6</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>FIGARTICARITAS×57TACF014</td>	<td>33</td>	<td>16.5</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>FINEPOINTSTABILO88(INDIVID)</td>	<td>29.2</td>	<td>14.6</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>LAPIZSTABILOSWAND4906(rojo)</td>	<td>110</td>	<td>27.5</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>PEGAMBARRAUHUSTIC21gr</td>	<td>57.8</td>	<td>28.9</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>PEGAMBARRAUHUSTIC40gr</td>	<td>90.6</td>	<td>45.3</td></tr>
                <tr><td>0.25</td>	<td>CTO</td>	<td>PLUMONPIZARSTABILOPLAN6419AZUL8NEGRO8ROJ0</td>	<td>326</td>	<td>81.5</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>POMPONESARTIx85SURTIDOTACF00024-A</td>	<td>33</td>	<td>16.5</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>SILICONALIQUIDAARTI250ml</td>	<td>48</td>	<td>48</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>TEMPERAESTİ7ARTI</td>	<td>52.6</td>	<td>52.6</td></tr>  
                <tr><td>0.25</td>	<td>CTO</td>	<td>BLOCKCARTULCONTI25H</td>	<td>600</td>	<td>150</td></tr>
                <tr><td>0.25</td>	<td>CTO</td>	<td>BLOCKPAPCONTIA.IRIS25H</td>	<td>314</td>	<td>78.5</td></tr>
                <tr><td>2</td>	<td>CTO</td>	<td>CUADA4CONTI8OHDISENO</td>	<td>339</td>	<td>678</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>SILICONALIQUIDASTANDFORD30ml</td>	<td>144</td>	<td>36</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>SKETCHBANILLSTANDFORD24HANILLAD</td>	<td>73.2</td>	<td>73.2</td></tr>
			
                <tr><td>1</td>	<td>CTO</td>	<td>BOLIGRVKGVELOX032(INDIVID)SURTIDO</td>	<td>36</td>	<td>36</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>PLASTILVKGJUMBOCLASICO×12</td>	<td>31</td>	<td>31</td></tr>
                <tr><td>0.25</td>	<td>CTO</td>	<td>PLUMONINDELVR23</td>	<td>96</td>	<td>24</td></tr>
                <tr><td>0.25</td>	<td>CTO</td>	<td>PLUMONINDELVKG421-s</td>	<td>132</td>	<td>33</td></tr>
                <tr><td>0.25</td>	<td>CTO</td>	<td>PLUMONPIZARVKG123(individ)SURTIDO</td>	<td>90</td>	<td>22.5</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>SILICONALIQUIDAVKG100ml</td>	<td>280.8</td>	<td>70.2</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>EXLICONALIQUIDAVKG250ml</td>	<td>44.8</td>	<td>44.8</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>TEMPERA250mlVKGBASICO</td>	<td>52.2</td>	<td>52.2</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>TEMPERAESTx7VKG</td>	<td>52</td>	<td>52</td></tr>
			
                <tr><td>1</td>	<td>CJI</td>	<td>BORRMAPEDARCHITEC011010BLIx1</td>	<td>29.6</td>	<td>29.6</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>CARTUCHMAPEDPOCKETSTUDYDOBLEp</td>.	<td>62.4</td>	<td>31.2</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>COLORESMAPED12BORRABLESE/CTN832812</td>	<td>51.6</td>	<td>51.6</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>COLORESMAPED12PASTELE/CTN832069FC</td>	<td>74.8</td>	<td>37.4</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>COLORESMAPED12+3DUOCOLPIEL832071</td>	<td>54.8</td>	<td>54.8</td></tr>

                <tr><td>0.5</td>	<td>DOC</td>	<td>COMPASPLASTMAPEDKIDZC/LAP91611</td>	<td>21</td>	<td>10.5</td></tr>

                <tr><td>0.25</td>	<td>GRZ</td>	<td>LAPIZMAPEDCHEQUEO838510</td>	<td>76</td>	<td>19</td></tr>

                <tr><td>0.25</td>	<td>GRZ</td>	<td>LAPIZMAPEDGRAFIT2BAZ/NJ851822</td>	<td>48.8</td>	<td>12.2</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>LAPIZMAPEDPASTEL2HB851730</td>	<td>5.4</td>	<td>5.4</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>PLUMONMAPEDx12OCEAN845720</td>	<td>55</td>	<td>27.5</td></tr>
                <tr><td>1</td>	<td>DOC</td> <td>PLUMONMAPED18GLITTER845808p</td>	<td>49.2</td>	<td>49.2</td></tr>
                <tr><td>0.25</td>	<td>CTO</td>	<td>REGLAMAPEDCLASICA30cm146119</td>	<td>68</td>	<td>17</td></tr>
                <tr><td>0.25</td>	<td>CTO</td>	<td>REGLAMAPEDFLEXTWISTN30cm279710</td>	<td>190</td>	<td>47.5</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>RESALTADMAPEDMINISOFT×5742728p</td>	<td>80.4</td>	<td>40.2</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>RESALTADMAPEDMINISOFT×5742728p</td>	<td>248</td>	<td>62</td></tr>
                <tr><td>0.25</td>	<td>CTO</td>	<td>TIJERASMAPED17ESSENTIAGREEN468010</td>	<td>240</td>	<td>62</td></tr>
                <tr><td>0.25</td>	<td>CTO</td>	<td>TRANSPORTADORMAPED18012cm-146134</td>	<td>60</td>	<td>15</td></tr>
                <tr><td>0.25</td>	<td>CTO</td>	<td>ETIQUGRAFIPP19X13PRECIOSX245FOSFOR</td>	<td>103</td>	<td>25.75</td></tr>
                <tr><td>0.25</td>	<td>MLL</td>	<td>FOLDERMANILAGRAFIPAPAN-AZ-RJ-VD-NJAZULVERDEROJOAMARILLO</td>	<td>400</td>	<td>100</td></tr>
                <tr><td>0.5</td>	<td>MLL</td>	<td>FOLDERMANILAGRAFIPAPCREMAA4</td>	<td>210</td>	<td>105</td></tr>
                <tr><td>0.5</td>	<td>MLL</td>	<td>SOBREBLANCOCARTA56grGRAFIPAPEL</td>	<td>37</td>	<td>18.5</td></tr>
                <tr><td>0.25</td>	<td>CTO</td>	<td>BLOCKPAPELPARQUE25HJUNIOR</td>	<td>385</td>	<td>96.25</td></tr>
                <tr><td>30</td>	<td>UND</td>	<td>CUADA4ELPARQUE75g92HREFORZADO20CUADRICULADA10TRIPLERENGLON</td>	<td>8.95</td>	<td>268.5</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>CUADPENTAGRAMADOELPARQUEA4MOZART</td>	<td>48</td>	<td>48</td></tr>
                <tr><td>0.25</td>	<td>CTO</td>	<td>SKETCHBANILLELPARQ20H24x32cm</td>	<td>475</td>	<td>118.75</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>SKETCHBANILLELPARO30H24x34cmPLUS</td>	<td>132</td>	<td>132</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>TARJETASLEXICASA-BELPARQUETAPER</td>	<td>105.2</td>	<td>52.49</td></tr>
                <tr><td>1</td>	<td>CTO</td>	<td>CUADA4COLLEGESURTIDO80H</td>	<td>458</td>	<td>458</td></tr>
                <tr><td>2</td>	<td>CTO</td>	<td>CUADA4JUSTUS8OHSURTIDO</td>	<td>338</td>	<td>676</td></tr>
                <tr><td>3</td>	<td>CJO</td>	<td>PAPELFOTOCA475grINKJET</td>	<td>121</td>	<td>363</td></tr>
                <tr><td>0.25</td> <td>CTO</td>	<td>SKETCHBANILLSURCO14HSURTI</td>	<td>288</td>	<td>72</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>COLASINTETLAYCONSA125gr</td> <td>16.8</td>	<td>16.8</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>COLASINTETLAYCONSA250grC/APLIC</td>	<td>27</td>	<td>27</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>COLASINTETLAYCONSA250grPOTE</td>	<td>22.4</td>	<td>22.4</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>COLORESLAYCONSAPUPPY12LPASTELTUBO</td>	<td>62</td> <td>31</td> </tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>COLORESLAYCONSAPUPPY12LTUBO</td>	<td>56.6</td>	<td>28.3</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>COMPASPLASTLAYCONSAC/LAPIZ</td>	<td>20</td>	<td>10</td></tr>
                <tr><td>1</td>	<td>CTO</td>	<td>CUADA4ARCOIRIS72HC/ST</td>	<td>286</td>	<td>286</td> </tr>
                <tr><td>1</td>	<td>DOC</td>	<td>LAPIZLAYCONSANEGRITSEMI-GRASO</td>	<td>23.5</td>	<td>23.5</td></tr>
                <tr><td>0.5</td>	<td>DOC</td>	<td>MOTAPIZARRALAYCONSA</td>	<td>27</td>	<td>13.5</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>PLUMONINDELLAYCONSADOBLEPUNTA</td>	<td>13</td>	<td>13</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>PLUMONLAYCONSAJUMBO47(INDIVID)</td>	<td>124</td>	<td>31</td></tr>
                <tr><td>0.25</td>	<td>GRZ</td>	<td>PLUMONPIZARLAYCONSA123(INDIVID)</td>	<td>164</td>	<td>41</td></tr>
                <tr><td>0.5</td> <td>DOC</td>	<td>PLUMONPIZARLAYCONSA123EST×4</td>	<td>63.6</td>	<td>31.8</td></tr>
                <tr><td>0.5	</td> <td>DOC</td>	<td>PLUMONPIZARLAYCONSA123EST×4</td>	<td>63.6</td>	<td>31.8</td></tr>
                <tr><td>0.5</td> <td>DOC</td> <td>PLUMONPIZARLAYCONSA123EST×4</td>	<td>63.6</td>	<td>31.8</td></tr>
                <tr><td>1</td>	<td>DOC</td>	<td>PLUMONPIZARLAYCONSA123RRECARGAB</td>	<td>22.6</td>	<td>22.6</td></tr>


            </tbody>

        </table>  
    </body>

</html>